// Custom.scss
// Option A: Include all of Bootstrap
@import url("https://use.typekit.net/uzl0zhd.css");
@import url("https://use.typekit.net/uzl0zhd.css");
// Include any default variable overrides here (though functions won't be available)


// body bg color
// $body-bg: #f80;




// Theme colors
// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors
$primary: #2F40A4;
$secondary: #376ED3;
$success: #b7e3cc;
// $info: #c4ffb2;
// $warning: #d6f7a3;
// $danger: #dd7596;
$light: #f2f2f2;
$dark: #0A092D;

$navbar-dark-color:                 rgba($light, .75);
$navbar-dark-hover-color:           rgba($light, 1);
$navbar-dark-active-color:          $success;
$navbar-dark-disabled-color:        rgba($light, .25);
$navbar-dark-icon-color:            $navbar-dark-color;
// $navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($light, .1);
$navbar-dark-brand-color:           $navbar-dark-active-color;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color;

// // Typography
$font-family-sans-serif: "Proxima Nova", sans-serif;
$font-family-serif: "Abril Display", serif;

h1{
    font-family: $font-family-serif;
    font-weight: bold !important;
}
h2{
    font-family: $font-family-serif;
}
h3{
    font-family: $font-family-serif;
}
h4{
    font-family: $font-family-sans-serif;
}
$h1-font-size: 1rem * 8;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;
$line-height-base: 1.6;
#hero{
    height: 800px;
    background: linear-gradient(rgba($dark, 0.8), rgba($dark, 0.8)), url(../images/camera-film-sheet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here